<?xml version="1.0"?>
<launch>

    <node pkg="master_discovery_fkie" 
    	type="master_discovery" 
    	name="master_discovery" 
    	respawn="true">

        <rosparam file="$(find px4_control)/config/aerovr_omega_multimaster.yaml" 
        	command="load" />
    </node>
    
    <node pkg="master_sync_fkie" 
    	type="master_sync" 
    	name="master_sync" 
    	respawn="true"/>

</launch>
