<?xml version="1.0"?>
<launch>
    <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="log">
        <param name="stream_mode" value="ClientPull" type="str" />
        <param name="datastream_hostport" value="192.168.10.1:801" type="str" />
        <param name="tf_ref_frame_id" value="/world" type="str" />
    </node>

    <include file="$(find mavros)/launch/px4_sim.launch"> </include>

    <!-- graphs visualization -->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/mavros/local_position/pose/pose/position/x:y:z"/>
</launch>
