<?xml version="1.0"?>
<launch>

    <include file="$(find skcr_core)/launch/aerovr_drone_multimaster.launch" />


	<arg name="fcu_url" default="/dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="udp://@192.168.1.183" />  
    <!-- @192.168.1.183 - this param we change from terminal, no need to change it here -->

    <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="log">
        <param name="stream_mode" value="ClientPull" type="str" />
        <param name="datastream_hostport" value="192.168.88.223:801" type="str" />  
        <!--  value="192.168.10.1 -->
        <param name="tf_ref_frame_id" value="/world" type="str" />
    </node>

    <include file="$(find mavros)/launch/px4.launch">
        <arg name="gcs_url" value="$(arg gcs_url)"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
    </include>
    <node name="mocap2pixhawk" pkg="px4_control" type="mocap2pixhawk.py" output="screen" />

    <!-- graphs visualization -->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/mavros/local_position/pose/pose/position/x:y:z"/>
</launch>
